html{
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-spacing: 50;
    background-color: white;    
}

header{
background-color: white;
padding: 1rem;
border-bottom: 1px;
width: 1200px;
height: 65px;
}

nav{
    display: flex;
    border-bottom: 2px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
nav ul a {
    text-decoration: none;
    color: black;
    font-weight: ;
}


.centerpiece {
    display: inline-flex;
    align-items: center;
    font-size: 26px;
    font-weight: medium;
}

.centerpiece img{
    width: 30px;
}

.search {
    align-items: right;
}

.home {
    background-image: url("assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg");
    background-size: cover;
    position: relative;
    display: flex;
    height: 30rem;
}

.content {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.content_left{
    float: left;
    color: white;
    margin-top: 2em;
    margin-left: 3em;
}

.content_right{
    color: white;
    margin-top: 16em;
    margin-right: 1rem;
    margin-left: 33rem;
}

.about {
    margin-left: 50px;
    margin-left: 50px;
}

.about-container{
    display: grid;
    grid-template-areas:
        "top-p top-p img-1"
        "img-2 mid-p img-1"
        "img-2 bot-p img-1";
    grid-gap: 25px;
}

.about-img-1{
    transform: scaleX(-1); 
    grid-area: img-1;
}


.about-img-2{
    grid-area: img-2;
}


.about-p-1{
    grid-area: top-p;
}

.about-p-2{
    grid-area: mid-p;
}

.about-p-3{
    grid-area: bot-p;
}


.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 100px;
    max-width: 200px;
}

.our-products-title{
    width: 60%;
    border-bottom: 3px solid black;
}

.item{
    width: 300px;
}

.item > img{
    width: 300px;
    height: 225px;
}

form{
    margin-top: 40px;
    display: grid;
    width: 50%;
    align-items: center;
    margin-left: 220px;
}

.contact-button{
    background-color: orange;
    float: right;
    width: 20%;
    padding: 8px;
    margin-top: 30px;
    margin-left: 450px;
}

footer{
    width: 1200px;
    height: 200px;
    background-color: orange;
    margin-top: 50px;
}

.footer-container{
    display: grid;
    grid-template-areas: 
        "ft-1 ft-2 ft-3"
        ". fb-4 fb-5" ;
    
}

.footer-1{
    grid-area: ft-1;
    display: flex;
    justify-content: flex-end;
    margin-right: 89px;
}

.footer-2{
    grid-area: ft-2;
    display: inline-flex;
    align-items: center;
    font-size: 24px;
    margin-left: 64px;
}

.footer-3{
    grid-area: ft-3;
    display: flex;
    margin-right: 139px;
}

.footer-4{
    grid-area: fb-4;
}

.footer-5{
    grid-area: fb-5;
    display: flex;
    justify-content: flex-end;
}