html{
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-spacing: 50;
    background-color: white;    
}

header{
background-color: white;
padding: 1rem;
border-bottom: 1px;
width: 1000px;
height: 65px;
}

nav{
    display: flex;
    border-bottom: 2px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
nav ul a {
    text-decoration: none;
    color: black;
    font-weight: ;
}


.centerpiece {
    display: inline-flex;
    align-items: center;
    font-size: 26px;
    font-weight: medium;
}

.centerpiece img{
    width: 30px;
}

.search {
    align-items: right;
}

.home {
    background-image: url("assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg");
    background-size: cover;
    position: relative;
    display: flex;
    height: 30rem;
}

.content {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.content_left{
    float: left;
    color: white;
    margin-top: 2em;
    margin-left: 3em;
}

.content_right{
    color: white;
    margin-top: 16em;
    margin-right: 1rem;
    margin-left: 33rem;
}

.about {
    width: 1200px;
}

.about_us{
    width: 60%;
    border-bottom: 3px solid black;
} 

.about-item{
    display: flex;
}

.img_left{
    display: flex;
    width: 250%;
    height: fit-content;
    align-self: flex-end;
}

.img_right {
    display: flex;
    width: 65%;
    height: fit-content;
}

.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 100px;
    max-width: 200px;
}

.our-products-title{
    width: 60%;
    border-bottom: 3px solid black;
}

.item{
    width: 300px;
}

.item > img{
    width: 300px;
    height: 225px;
}




